body{
  background-repeat: no-repeat;
  background-size: cover;
}

.card   {
  background: rgba(127, 141, 145, 0.77);
  box-shadow: 1px 3px 1px 3px; 
}

.strike-out   {
  text-decoration: line-through;
}

.form-control {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 0px 0px 3px grey;
}

.todo-cards  {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#quote {
  font-family: 'Coustard', serif;
  color: rgb(60, 60, 60);
  text-shadow: 1px 1px 2px whitesmoke;
}

h3 {
  font-size: 3rem;
  font-family: 'Syncopate', sans-serif;
  justify-content: center;
  display: flex;
}

.todo-list  {
  text-shadow: 0px 0px 5px lightgray;
}

.form-control, .todo-list{
background-color: rgba(127, 141, 145, 0);
box-shadow: none;
}

.form-control, .no-border
{
  border: 0;
  box-shadow: none;
  border-bottom: 3px solid gray;
}

#todocount  {
  color: whitesmoke;
  text-shadow: 1px 1px 3px black;
}
p {
  color: whitesmoke;
  text-shadow: 0px 0px 3px black;
}
/* 
.copyright {
  display: none;
}

h6:hover + .copyright{
  display: block;
} */